@model CRUD.Car
@{
    ViewData["Title"] = "Carro Criado";
}
<h1>Carro @Model.Marca Inserido com sucesso!</h1>
@Html.Label("Marca: ")
@Html.DisplayFor(model => Model.Marca)
<br/>
@Html.Label("Modelo: ")
@Html.DisplayFor(model => Model.Modelo)
<br/>
@Html.Label("Ano: ")
@Html.DisplayFor(model => Model.Ano)
<br/>
 @Html.Label("Km's: ")
@Html.DisplayFor(model => Model.Quilometragem)
<br/>
 @Html.Label("Obs: ")
@Html.DisplayFor(model => Model.Observacao)
<br/>
@Html.ActionLink("Voltar", "Index")